/*NAVBAR*/
.navbar-brand > img {
    margin-right: 0.5em;
}

a.nav-item {
    color: white;
    text-decoration: none;
}

a.nav-item.active, .btn:hover a {
    color: black;
    text-decoration: none;
}

/*CHARTS*/

.buttonMargin {
    margin: 1.5em 1em;
}

.chartz {
    margin-top: 2em;
    margin-bottom: 2em;
}

.chart {
    margin-top: 2em;
}

.funIcon {
    margin-left: -2.25rem;
    z-index: 2;
    color: black;
    font-size: 1.5rem;
}

.input-group-text {
    background-color: #bab9b9;
    border: 1px solid #343a40;
}

.leftSpace {
    padding-left: 0.3em;
}

.borderRadius {
    border-radius: 5px;
}

.sensorNaming {
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    padding-top: 0.5em;
}

#nowValues > section {
    padding: 0 0.3rem;
}

#nowValues > section > div {
    height: 100%;
}

#sensorNowSection > div {
    background-color: rgba(214, 210, 68, 0.5);
    border-radius: 5px;
}

#temperatureNowSection > div, .btn-pink {
    background-color: rgba(204, 0, 112, 0.5);
    border-radius: 5px;
}

.btn-pink:hover {
    background-color: rgba(204, 0, 112, 0.7);
}

#humidityNowSection > div, .daterangepicker td.active {
    background-color: rgba(0, 39, 191, 0.5);
    border-radius: 5px;
}

.daterangepicker td.active:hover {
    background-color: rgba(0, 39, 191, 0.6);
}

input[type="text"] {
    width: 69%;
    text-align: center;
    border-radius: 0 5px 5px 0;
    border: 1px solid #343a40;
}

#airPressureNowSection > div, .btn-green {
    background-color: rgba(0, 204, 109, 0.5);
    border-radius: 5px;
}

.btn-green:hover {
    background-color: rgba(0, 204, 109, 0.7);
}

#chartOptions {
    background-color: rgba(186, 185, 185, 1);
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 1em;
}

div.alert-messages {
    position: fixed;
    top: 40px;
    left: 25%;
    right: 25%;
    z-index: 7000;
}
