/*NAVBAR*/
.navbar-brand > img {
    margin-right: 0.5em;
}

.buttonMargin {
    margin-right: 1em;
    margin-left: 1em;
}

/*CHARTS*/
.chartz {
    margin-top: 2em;
    margin-bottom: 2em;
}

.chart {
    margin-top: 2em;
}

.funIcon {
    margin-left: -2.25rem;
    z-index: 2;
    color: black;
    font-size: 1.5rem;
}

.biggerInput{
    font-size: 1.5rem;
}

#nowValues > section{
    padding: 0 0.3rem;
}
#nowValues > section > div{
    height: 100%;
}
#sensorNowSection > div{
    background-color: rgba(214, 210, 68, 0.5);
}
#temperatureNowSection > div{
    background-color: rgba(204, 0, 112, 0.5);
}
#humidityNowSection > div{
    background-color: rgba(0, 39, 191, 0.5);
}
#airPressureNowSection > div{
    background-color: rgba(0, 204, 109, 0.5);
}
