/*NAVBAR*/
@import "navbar.css";
/*TRENDS*/
@import "trend.css";
/*CHARTS*/
@import "chart.css";
/*OPTION BAR*/
@import "current-data-and-options.css";
/*LAST SEEN / TRAFFIC LIGHTS*/
@import "traffic-light.css";
/*DATE AND TIME PICKER*/
@import "date-time-picker.css";
/*ADMIN APP*/
@import "admin-app.css";
/*ALERT*/
@import "alert-message.css";

/*GLOBAL*/
body {
    background-color: #212529;
    color: #ebf4f8;
}

/*ADMIN APP*/
.table-light {
    color: #ebf4f8;
    background-color: #343a40;
}

/*CURRENT DATE AND OPTIONS*/
#chart-options {
    background-color: rgb(52, 58, 64);
}

.btn-outline-dark {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-outline-dark:hover {
    color: #343a40;
    border-color: #343a40;
    background-color: #ebf4f8;
}

.form-control, .form-control:focus {
    background: #6c757d;
    color: #ebf4f8;
}

#reset-range-button {
    background: #bab9b9;
}

.input-group-append button {
    margin: 0px !important;
}

#sensor-dropdown {
    background: #343a40;
    color: #ebf4f8;
}

.dropdown-item {
    color: #ebf4f8;
}

.dropdown-item:hover {
    background: #6c757d;
    color: #ebf4f8;
}

/*DATETIMEPICKER*/
.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background-color: transparent;
    color: rgba(200, 200, 200, 0.5);
}

.daterangepicker {
    background-color: inherit;
    color: #ebf4f8;
}

.daterangepicker .calendar-table {
    background-color: transparent;
}

.datepicker.dropdown-menu table {
    background-color: transparent;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    color: #ebf4f8;
}

.daterangepicker td.in-range {
    background-color: rgba(37, 47, 57, 0.9);
    color: #ebf4f8;
}

.btn-default {
    color: #ebf4f8;
    background-color: inherit;
    border-color: rgba(255, 255, 255, 0.6);
}

.daterangepicker select.monthselect {
    color: rgba(37, 47, 57, 0.9);
}

.daterangepicker select.yearselect {
    color: rgba(37, 47, 57, 0.9);
}

.daterangepicker .input-mini {
    color: #ebf4f8;
}

.daterangepicker .calendar-table {
    border: none !important;
}

.daterangepicker td.active {
    background-color: rgba(100, 100, 255, 0.5);
    color: #ebf4f8;
}

.daterangepicker td.active:hover {
    background-color: rgba(100, 100, 255, 0.5);
    color: #ebf4f8;
}

.daterangepicker .ranges li.active {
    background-color: rgba(100, 100, 255, 0.5);
}

.daterangepicker .ranges li:hover {
    background-color: #ebf4f8;
    color: #343a40;
}

.bg-pink {
    background-color: #76124c !important;
    border-radius: 0 !important;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect {
    background: #6c757d;
    color: #ebf4f8;
}
