/*NAVBAR*/
.navbar-brand > img {
    margin-right: 0.5em;
}

.buttonMargin {
    margin-right: 1em;
    margin-left: 1em;
}

/*CHARTS*/
.chartz {
    margin-top: 2em;
    margin-bottom: 2em;
}

.chart {
    margin-top: 2em;
}
